In [ ]:
# Imports
import pandas as pd

### FHV (For-Hire Vehicle Trip Records)

In [5]:
df_iter = pd.read_csv('fhv_tripdata_2019-01.csv', chunksize=10240)

In [6]:
df_chunk = next(df_iter)

In [7]:
df_chunk.head()

  dispatching_base_num      pickup_datetime  ... SR_Flag  Affiliated_base_number
0               B00001  2019-01-01 00:30:00  ...     NaN                  B00001
1               B00001  2019-01-01 00:45:00  ...     NaN                  B00001
2               B00001  2019-01-01 00:15:00  ...     NaN                  B00001
3               B00008  2019-01-01 00:19:00  ...     NaN                  B00008
4               B00008  2019-01-01 00:27:00  ...     NaN                  B00008

[5 rows x 7 columns]

In [8]:
df_chunk.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [11]:
df_chunk['PUlocationID'].unique()

array([ nan, 140., 141., 237., 162., 145., 261.,  13., 249., 236., 171.,
       252., 265., 229.,  16., 143., 142.,  88.,  87., 206., 221., 245.,
       181., 257., 195., 138.,  25.,  89.,  70.,   7., 173.,  82.,  71.,
       188.,  72., 129.,  56., 161.,  79., 234., 107., 137., 239., 130.,
       189.,  32.,  81.,  51., 254., 264., 232.,  92.,  53., 192.,  15.,
       132., 175., 121., 135., 156., 187.,  90.,  48., 112.,  18., 127.,
       243., 144., 224., 263., 210., 147., 126., 168., 223.,  41., 119.,
       205.,  38., 255.,  37.,  17., 163., 172., 251., 233., 260., 211.,
        43., 102.,  36.,  76., 122., 159., 213., 226., 179., 167.,  69.,
        47., 148.,  78., 235., 259., 231.,  68.,  61.,  49., 106.,  66.,
       146., 174.,   3., 225.,  94., 191.,  35.,  29.,  97., 182., 170.,
       247.,  33.,  65., 256., 176.,  50., 228.,  93.,  80.,  40., 164.,
       113., 183., 134.,  95., 196.,  45., 244., 136., 198.,  62.,  52.,
        85.,  14., 116., 131.,  22., 222., 185., 152.,  24., 158., 262.,
       169., 212.,  98., 149.,  74., 220., 200., 178., 248.,  42., 177.,
       160., 123.,  11., 203., 216.,  21., 108., 120., 166.,  26., 114.,
        20., 151., 258.,  60., 241., 117.,   5.,  84., 109., 157., 242.,
         4., 209., 197.,  75.,  39.,  86., 238., 227., 246., 125., 193.,
        91., 133., 155., 165., 186., 100.,  44., 190., 215.,  83.,  55.,
        67., 204., 150.,  54., 124.,  46.,  77., 230.,  64.,  63.,  58.,
       115., 219., 201.,  28.,  73., 202., 250., 139., 180., 208.,  10.,
       218., 217., 153.,  34.,  57., 118.,   9.,  23., 240.,  19., 214.,
       101.,   6., 128.])

### Green (Green Taxi Trip Records)

In [12]:
df = pd.read_csv('green_tripdata_2019-01.csv')
df.head()

   VendorID lpep_pickup_datetime  ... trip_type congestion_surcharge
0         2  2018-12-21 15:17:29  ...         1                  NaN
1         2  2019-01-01 00:10:16  ...         1                  NaN
2         2  2019-01-01 00:27:11  ...         1                  NaN
3         2  2019-01-01 00:46:20  ...         1                  NaN
4         2  2019-01-01 00:19:06  ...         1                  NaN

[5 rows x 20 columns]

In [13]:
df.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object